:root {
    --color-primary: #584a99;
    --color-secondary: #efe8f6;
    --color-light: #f7f7f7;
    --color-error: #f75e4b;
}  
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
} 
body {
    max-width: 1100px;
    margin: auto;
}
main{
   
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 80px;
}  

h2{
    color: var(--color-primary);
    margin-top: 50px;
}

#products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 75%;
 
}
#products > div{
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
#products img{
    width: 210px;
    height: 210px;
    border-radius: 16px;
}
#product-info{
    background-color:var(--color-secondary);
    padding: 18px;
    border-radius: 16px;
}
#product-info h3{
    color: var(--color-primary);
    font-size: 1.3rem;
}
#product-info div{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   margin-top: 8px;
}
#product-info span{
    color: gray;
    font-size: 1.1rem;
}

#product-info button{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border: none;
    border-radius: 50px;
    color: var(--color-primary);
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 10px 20px;
    transition: all 0.2s ease-in;
    font-size: 1.6rem;
}
#product-info button:hover{
    background-color: var(--color-primary);
    color: #fff ;
}
aside{
    width: 25%;
    margin-left: 50px;
}
aside h3{
    background-color: var(--color-primary);
    color: #fff;
    text-align: center;
    padding: 10px ;
    border-radius: 16px;
    width: 330px;
}
.cart{
    border: 1px solid var(--color-light);
    border-radius: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 330px;
    padding: 20px;
}
.cart img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.infoCart{
    display: flex;
    flex-direction: column;
}
.infoCart h4{
    color: var(--color-primary);
}
.controlCart div button{
    border: none;
    border-radius: 50px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: var(--color-primary);
    transition: all 0.2s ease-in;
}
.controlCart div button:hover{
    background-color: var(--color-primary);
    color: #fff;
}
.controlCart > button{
    color: var(--color-error);
    border: 1px solid var(--color-error);
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    margin-top: 10px;
    transition: all 0.2s ease-in;
    cursor: pointer;
}
.controlCart > button:hover{
    background-color: var(--color-error);
    color: #fff;
}
#total-price{
    width: 330px;
    border: 1px solid rgb(185, 185, 185);
    border-radius: 16px;
    padding: 20px;
    margin-top: 10px;
}
#card-list h5{
    width: 330px;
    padding: 40px 0;
    border: 1px solid var(--color-error);
    border-radius: 16px;
    margin: 30px 0 10px 0;
    color: var(--color-error);
    text-align: center;
    font-size: 1.5rem;
}